:root {
    --purple-color: #752996;
    --blue-color: #00B2D1;

}






.btn-primary {
    color: #fff;
    background-color: var(--purple-color);
    border-color: rgb(255, 252, 252);
}


.btn-primary:hover {
    color: #fff;
    background-color: #69cddf;
    border-color: rgb(255, 252, 252);
}

.btn-outline-primary {
    color: #fff;
    background-color: var(--blue-color);
    border-color: rgb(255, 252, 252);
}


.btn-outline-primary:hover {
    color: #fff;
    background-color: #9b50bb;
    border-color: rgb(255, 252, 252);
}

.logoo {
    max-width: 325px;
    width: 100%;
}


















/*Estilos Navbar*/
.navbar {
    --bs-bg-opacity: 1;
    background-color: var(--purple-color) !important;
    color: rgba(221, 0, 0, 0.863)
}

.nav-item a {
    color: rgba(255, 255, 255, 0.6);
}

.nav-item a:hover,
.nav-item a:focus {
    color: var(--blue-color);
}

.nav-link.active {
    font-weight: 500;
    color: #FFF;
}

.dropdown-menu {
    background-color: #C39ED0;
}

.dropdown-menu a {
    color: var(--purple-color);
}



.btn-outline-success {
    color: white;
    border-color: var(--blue-color);
}

.btn-outline-success:hover {
    color: #fff;
    background-color: var(--blue-color);
    border-color: white;
}


.navbar-toggler-icon svg {

    background-image: url(../img/Vector.png);
    color: #00B2D1;
}

.navbar-toggler:focus {
    color: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
}

.desktop {
    display: none;
}

/*servicios*/

.tseccion {
    box-sizing: border-box;
    margin-top: 1rem;
    line-height: 1.2;
    font-size: calc(1.325rem + 2vw);
    margin-bottom: 1.5rem !important;
    text-align: center !important;
    color: var(--purple-color);
    font-weight: 600;
    text-shadow: 2px 2px 4px #414141;

}

.card img {
    max-width: 210px;
}

.card-title {
    margin-bottom: 0.5rem;
    color: rgb(117, 41, 149);
}


.card {
    border: none;
}

.footer {
    background-image: url(../img/fondo.jpg);
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}

.foot {
    background-color: rgba(117, 41, 149, 0.404);
    padding: 1rem;

}

iframe {
    width: 98%;
    height: 300px;
    border: 3.2px solid var(--purple-color);
    border-radius: 10px;
}


.info-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.emoji img {
    color: #00B2D1;
    width: calc(1.325rem + 4vw);
    margin-bottom: 1rem;
}

.formulas {
    margin-top: 50px;
    background: url(../img/fondo.jpg) rgba(216, 1, 1, 0.616);
    padding: 1rem;
    border-radius: 30px;
    text-align: center;
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.616);
}

.button {
    margin-top: 10px;
}


.remember-me {
    margin-top: 10px;
}

.remember-me a {
    color: #00B2D1;
}


.tips h5 {
    font-size: 2rem;
    color: #752996;
    text-align: center;
    margin: 1rem;
}

.tips p {
    color: var(--dark-color);
    text-shadow: 1rem 1rem 1rem var(--gray-color);
    text-align: center;
}



.me {
    margin-bottom: 10px;
}

.button-back {
    margin-top: 20px;
}




.card img {
    max-width: 200px;
}
.card-img-top {
    border-radius: 100px;
    margin: 0 auto;
}

.card-body h2 {
    color: #752996;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(128 128 128 / 54%);
}

.card-body h1 {
    color: black;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(128 128 128 / 54%);
}

.card-body p{
    text-align: center;
}

.banner-desktop{
    display: none;
}




.card-title.tipss {
    color: #00B2B1;
    font-weight: 700;
}

.cons {
    font-size: 30px;
    color: #00B2B1;
    text-shadow: 1px 1px 2px #191919;
}

.btntips {
    color: #00B2B1;
    border-color: #00B2B1;
    background-color: white;
}




@media (min-width: 992px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: initial;
    }

    .banner-mobile{
        display: none;
    }

    .banner-desktop{
        display: initial;
    }
}













/*banner*/

.left-promo {
    margin-top: 20px;
    background-image: url(../img/fondo.jpg);
}

.agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-promo {
    margin-top: 20px;
    background-color: rgb(117, 41, 149);
    text-align: center;
}

.perro {
    color: rgb(255, 255, 255);
}

.perro img {
    border-radius: 150px;
    margin-bottom: 10px;
    border: 7px solid rgb(0, 0, 0);
}







#dashboard {
    display: flex;
}


.menu-dash {
    flex-basis: 20%;
    background-color: #191919;
    height: 88vh;
}

.menu-dash ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu-dash a {
    color: #F3F3F3;
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-family: 'Lato', sans-serif;
}

.menu-dash a:hover {
    background-color: #00B2B1;
    border-left: 3px solid #fff;
    padding-left: 40px;
    transition: all 2s;
    font-weight: 600;
}

.menu-dash i {
    margin: 5px
}

.contenido {
    flex-basis: 80%;
    background-color: #F3F3F3;
    padding: 30px;
    text-align: center;

}

.contenido p {
    flex-basis: 80%;
    background-color: none;
    padding: 30px;
    text-align: center;
    text-align: justify;
}



.nuestro-equipo{
    margin: 0 auto;
}





.formcontacto {
    background-color: #72dada;
    box-shadow: 1px 1px 2px #00B2B1;
    padding: 15px 48px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
}











